@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@layer utilities {
  .nav-bar {
    @apply flex justify-between items-center px-[60px] py-2 bg-white;
  }
  .nav-items {
    @apply space-x-8;
  }
  .logo {
    @apply -mx-2 w-[100px];
  }
  .padding {
    @apply px-[60px];
  }
  .hero {
    @apply mb-40;
  }
  .main {
    @apply h-svh w-full relative;
  }
  .info {
    @apply bg-white py-[40px] md:py-[60px] px-[60px] md:px-[80px] rounded-r-[50px] absolute top-[20%] w-[40%] max-w-[600px] min-w-[450px] space-y-3 xl:space-y-5;
  }
  .heading {
    @apply font-bold text-4xl xl:text-5xl;
  }
  .search-bar {
    @apply absolute -top-[30px] w-[100%] h-[60px] pr-[2px] pl-[40px] z-10 flex justify-between items-center bg-white rounded-[50px] border-[#064749] border-[4px] [&>*]:h-[48px] [&>*]:flex;
  }
  .info-page {
    @apply padding;
  }
  .location {
    @apply padding mt-32 gap-12 flex justify-center flex-col items-center;
  }
  .requirements {
    @apply px-[10px] text-red-300;
  }
  .input {
    @apply my-[10px] rounded-2xl h-[48px] text-[18px] px-[40px] border-none outline-[#97b1a1] text-[#49735A] placeholder-[#49735A] bg-[#F2F0F2];
  }
  footer {
    @apply padding pt-[80px] pb-[50px] flex;
  }
}
